body {
  background: #18a0c5;
}
p {
  color: black;
  font-size: 19px;
  
}
h1 {
  font-weight: bold;
  font-size: 39px;
}

h3 {
  font-size: 26px;
}

.img-2 {
  height: 330px;
  width: 540px;
  border: 5px;
  border-style:dashed;
  border-color: black;
}