body {
  background-color: #438ca4
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.88);
}

h3 {
  font-size: 29px;
}

p {
  font-size: 19px;
}

.container {
  display: flex;
  align-items: center;
  background-color: #14365b;
  padding: 15px;
}

.founded {
  background-color: #2a6b9a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:center;
  border: 2.5px;
  border-color: black;
  border-style: dashed;
  margin: auto;
  padding: 60px;
  height: 450px;
  width: 350px;
